body{

    margin:0px;
    padding:0px;
    /*background-color: #b7b3b2;*/
    background: linear-gradient(#b7b3b2, #444547);
    background-repeat: repeat-y;
}

h1{

    text-align: center;
    color: purple;

}

p{

    text-align: center;
    font-family: "lobster", cursive;
    font-size: 16px;
    font-weight: 800;
}
#randomStartBox{

    text-align: center;
    margin: auto;
    width: 200px;
    height: 100px;
    border: 1px solid #42346b;

}

img{

   width: 100px;
   height: 100px;
   border: 2px outset black;
   border-radius: 50%;

}

.jewels{

text-align: center;
margin: auto;

}

#score{
    text-align: center;
    margin: auto;
    padding-top: 15px;
    margin-bottom:10px;
    width: 200px;
    height: 100px;
    border: 1px solid #42346b;

}
